<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/article.css">
    <!-- Font Awesome cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Baseball</title>
</head>
<body>
        <!-- Header -->
        <header id="header" class="shadow bg-light">
            <nav class="container navbar">
                <a href="/index.html" class="nav-brand text-dark">
                    Loopian
                </a>
                
                <!-- Toggle button-->
                <button class="toggle-button">
                    <span><i class="fa-solid fa-bars"></i></span>
                </button>
                <!-- /Toggle button-->

                <!-- Collapse on toggle button click -->
                <div class="collapse">
                    <ul class="navbar-nav">
                        <a href="" class="nav-link">Home</a>
                        <a href="" class="nav-link">Blog</a>
                        <a href="" class="nav-link">Categories</a>
                        <a href="" class="nav-link">About</a>
                        <a href="" class="nav-link">Contact</a>
                        <a href="" class="nav-link">More</a>
                    </ul>
                </div>
               
                <!-- Collapse on toggle button click -->
                <div class="collapse">
                    <ul class="navbar-nav">
                        <div class="search-box">
                            <a href="#" class="nav-link"><i class="fa-solid fa-magnifying-glass"></i></a>
                            <a href="#" class="nav-link"><i class="fa-brands fa-facebook"></i></i></a>
                            <a href="#" class="nav-link"><i class="fa-brands fa-instagram"></i></i></a>
                            <a href="#" class="nav-link"><i class="fa-brands fa-youtube"></i></i></a>
                        </div>
                    </ul>
                </div>
            </nav>
        </header> 
        <br><br>
    <!-- /Header -->
    <!-- /body -->
    <div class="page-wrapper">
        <section class="main">
            <div class="article-heading">
                <h1 class="article-title">Bóng chày và cơ hội phát triển tại Việt Nam</h1>
                <p class="article-meta">
                    <span class="aricle-author"> <a href="https://i.pinimg.com/564x/ef/59/0d/ef590d3e2990e6827d96ad8ce55a755b.jpg">Quoc Viet Vi</a></span> &nbsp; 
                    <span class="line-middle">|</span> &nbsp; 
                    <span class="article-publish">Thứ 4, 14/12/2022</span>
                </p>
            </div>
            <p class="article-summary">Không chỉ xuất hiện trên phim truyền hình ở Mỹ, bóng chày hiện đang phát triển mạnh mẽ <br>
                 ở khu vực Đông Nam Á, kể cả tại Việt Nam </p>
            <div class="article-body">
                <img src="https://wikithethao.com/wp-content/uploads/2018/05/baseball-hd-wallpaper-20131-700x457.jpg" alt="">
                <p>Những người yêu mến bóng chày tìm thấy ở môn thể thao này sự cuốn hút đến tinh tế trong các tình huống phòng thủ,
                    sức mạnh trong các pha bóng tấn công, những cú chụp bóng không tưởng và những bước chạy nước rút thần tốc giành điểm số cho đội nhà.
                    Một trận đấu bóng chày ngay cả ở những thời điểm nhịp độ chậm nhất vẫn không bao giờ nhàm chán chính là từ các yếu tố đặc thù này, 
                    chưa kể sự kết hợp tối đa của kỹ năng cá nhân, tính kỷ luật, trí tuệ và tinh thần đồng đội.</p>

                <p>Bóng chày xuất hiện ở TP HCM từ hơn 10 năm trước, được khởi xướng bởi một số doanh nhân nước ngoài
                     và sau đó các chuyên gia đến từ Nhật Bản, Hàn Quốc tìm đến, hướng dẫn việc thiết kế sân bóng cũng 
                     như đào tạo cơ bản về bóng chày cho người hâm mộ ở Nhà Thi đấu TDTT Phú Thọ (quận 11) hay các khu 
                     vực dân cư quận 2, quận 9 (nay thuộc TP Thủ Đức)… Từ những viên gạch đầu tiên đặt nền móng kể trên,
                      đến nay, bóng chày phát triển khá mạnh mẽ tại TP HCM và nhiều "lò" đào tạo bóng chày được hình thành,
                       thu hút giới trẻ, nhất là cộng đồng doanh nhân nước ngoài.</p>

                <p>Nắm bắt xu hướng thời thượng này, nhất là ở thời điểm nhiều môn thể thao mới lạ đã kịp xuất hiện trong
                    chương trình tranh tài tại SEA Games hay ASIAD, Hội Bóng chày TP HCM (HBA) quyết định đứng ra tổ chức
                    Giải Vô địch Bóng chày thành phố năm 2022 với sự hợp tác của Công ty CP Đầu tư và Phát triển thể thao
                    Sài Gòn (SSDIC).</p>

                <p>Đây là sự kiện thi đấu hưởng ứng Đại hội TDTT TP HCM 2022, mở rộng với sự tham dự của hơn 100 VĐV đến từ 
                    4 CLB bóng chày là TP HCM, Sài Gòn Storm, Hà Nội và Đà Nẵng. Giải diễn ra trong 2 ngày 2 và 3-8 tại Trung
                     tâm Huấn luyện và Thi đấu TDTT TP HCM (quận 11), hứa hẹn sẽ mang đến sức sống mới cho môn bóng chày tại 
                     TP HCM nói riêng, cả nước nói chung.</p>

                <img src="https://cdnmedia.webthethao.vn/uploads/2021-04-10/JB0S5xzK.jpg" alt="">

                <p>Hội Bóng chày TP HCM cũng đã lên kế hoạch cùng với Liên đoàn Bóng chày và Bóng mềm Việt Nam phát triển bóng 
                    chày tại các trường đại học, làm bệ phóng cho tương lai của bóng chày chuyên nghiệp Việt Nam, đưa đội tuyển
                     quốc gia tham gia tranh tài chính thức ở đấu trường quốc tế.</p>
                
                <p>Việc Liên đoàn Bóng chày và Bóng mềm ra đời đánh dấu một cột mốc quan trọng trong việc thúc đẩy, mở rộng quy
                     mô phát triển phong trào bộ môn này một cách có tổ chức, bài bản, khoa học và chuyên nghiệp ở các vùng miền 
                     trên đất nước Việt Nam, đặc biệt ở hai thành phố lớn là Hà Nội và TP Hồ Chí Minh.</p>

                <p>Tại Hà Nội Câu lạc bộ Bóng chày Thiếu niên Hà Nội hoạt động từ tháng 8 năm 2008 gồm các thành viên đến từ các 
                    trường khác nhau tập luyện và chơi Bóng chày và Bóng mềm. Riêng năm 2015, đội U16 Câu lạc bộ Bóng chày Thiếu 
                    niên Hà Nội được mời tham dự Vòng chung kết thế giới (với 08 đội đến từ các châu lục) tổ chức tại thành phố 
                    Lafayette, bang Indiana, Mỹ.</p>

                <p>Trong khi đó, Hội Bóng chày thành phố Hồ Chí Minh được thành lập năm 2011 và ngày càng phát triển, với đội 
                    bóng chày tập luyện thường xuyên tại sân vận động Phú Thọ dưới sự hướng dẫn của các huấn luyện viên từ các
                     nước Trung Quốc, Nhật Bản, Hàn Quốc…</p>
            </div>

            <img src="https://media.discordapp.net/attachments/773206587522809871/1052760629334777896/So_luoc_luat_choi_bong_chay_1.jpg" class="baseball-rule" alt="">

            <div class="popular">
                <div class="popular-body">
                    <div class="popular-heading">
                        <h3>PHỔ <br> BIẾN</h3>
                    </div>
                    <section class="popular-main">
                        <div class="article-popular">
                            <span class="style-number">1</span>
                            <article class="extra-article">
                                <div class="article-picture">
                                    <a href="index.html"><img src="https://cdn.tuoitre.vn/thumb_w/980/2021/12/4/halongbongchay-1-1638616093508214643025.jpg" alt=""></a>
                                    <h4><a href="index.html">Giới trẻ thích thú với mô hình lồng bóng chày tự động ở TP.HCM</a></h4>
                                </div>
                                
                            </article>
                        </div>
                        <div class="article-popular">
                            <span class="style-number">2</span>
                            <article class="extra-article">
                                <div class="article-picture">
                                    <a href="index.html"><img src="http://images1.baoninhthuan.com.vn/CMSImage/Resources/Uploaded/duytb/viet-nam-vo-dich-2012-07-03-22-34.jpg" alt=""></a>
                                    <h4><a href="index.html">Giới trẻ thích thú với mô hình lồng bóng chày tự động ở TP.HCM</a></h4>
                                </div>
                            </article>
                        </div>
                        <div class="article-popular">
                            <span class="style-number">3</span>
                            <article class="extra-article">
                                <div class="article-picture">
                                    <a href="index.html"><img src="https://s3.ap-southeast-1.amazonaws.com/we-xpats.com/uploads/article/4611/4154890_s.jpg" alt=""></a>
                                    <h4><a href="index.html">Giới trẻ thích thú với mô hình lồng bóng chày tự động ở TP.HCM</a></h4>
                                </div>
                            </article>
                        </div>
                        <div class="article-popular">
                            <span class="style-number">4</span>
                            <article class="extra-article">
                                <div class="article-picture">
                                    <a href="index.html"><img src="https://baseballcage.vn/wp-content/uploads/2022/09/Baseball-Girl-Bong-chay.jpg" alt=""></a>
                                    <h4><a href="index.html">Giới trẻ thích thú với mô hình lồng bóng chày tự động ở TP.HCM</a></h4>
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
            </div>

            
            
        </section>
    </div>
    




    
    <!-- Javascript main.js file -->
    <script src="main.js"></script>
</body>
</html>